/* Start Global Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scale: 1;
}

body {
    font-family: "outfit";
}
/* End Global Styles */

/* Start Container */
/* Desktop Screen */
[role="contentinfo"] {
    background-color: hsl(212, 45%, 89%);
    width: 1440px;
    height: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-card {
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    padding: 16px 16px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 0 25px 25px rgb(0, 0, 0, 4.77%);
}

img {
    width: 288px;
    border-radius: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px;
    text-align: center;
}

p:first-of-type {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 120%;
}

p:last-of-type {
    color: #68778D;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 140%;
}

/* Mobile Screen */
@media (max-width: 375px) {
    .container {
        width: 375px;
        height: 812px;
    }
}